.game {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/themes/bg-1.jpeg");
  position: relative;
  height: 90vh;
  border-radius: 32px;
  overflow: hidden;
}

.game__info {
  height: var(--header-height);
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.65);
}

.game__list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.game__info-item {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.game__space {
  height: 100%;
  position: relative;
}

.game__rival {
  offset-path: path("M226,12 l-3,257");
  offset-rotate: 0deg;
  animation-name: move;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  border: none;
  position: absolute;
  display: inline-block;
  z-index: 60;
  padding-bottom: 300px;
  bottom: 10%;
  left: 40%;
}

.game__rival .game__rival-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  height: 100%;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
