*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: url("../images/cursors/pointer.svg"), auto;
}

button {
  cursor: url("../images/cursors/pointer.svg"), auto;
}

ul {
  list-style-type: none;
}
