.registration,
.game {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../images/reg-bg.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  height: 95vh;
  background-image: url("../images/bg-1.jpeg");
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  padding: 60px;
}

.rival {
  border: none;
  position: absolute;
  z-index: 60;
  padding-bottom: 300px;
  top: 50%;
  left: 40%;
}

.rival .rival__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  height: 100%;
}
